<div class="static_page">
	<div class="static_page_logo">
		AlwaysNote
	</div>
	
	<div class="sign_in">
		<h1>Sign In!</h1>

		<form class="login" action="<%= session_url %>" method="POST">
			<label for="user_username">Username</label>
			<input type="text" name="user[username]" id="user_username" value="Demo">
			<br>
			<label for="user_password">Password</label>
			<input type="password" name="user[password]" id="user_password" value="password">
			<br>
			<input type="hidden" name="authenticity_token" 
				value="<%= form_authenticity_token %>">
			<input type="submit" id="submit" value="Sign In">
			<div style="width: auto; display: inline-block">
				<input type="button" value="Forgot Password?" onclick="location.href='/users/forgot_password';">
			</div>
		</form>
		<div class="signed_up">
			Don't have an account? <a href="/users/new">Sign Up!</a>
		</div>
	</div>
</div>