<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You requested a password change for your AlwaysNote account, 
	  <%= @user.username %> and have been issued a temporary password. It is 
	  <%= @random_password %>.
    </p>
    <p>
      To choose a new password, just follow this link: <%= @url %>. If you did not
	  request this password change, no action is needed.
    </p>
  </body>
</html>