<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to AlwaysNote, <%= @user.username %></h1>
    <p>
      You have successfully signed up for AlwaysNote.
    </p>
    <p>
      To verify your account, just follow this link: <%= @url %>. If you did not
	  sign up for AlwaysNote, no action is needed.
    </p>
  </body>
</html>