<div class="notebook_show" data-id="<%= notebook.id %>">
	<div class="notebook_title" data-id="<%= notebook.id%>" 
		id="notebook<%= notebook.id%>">
		<form class="create_new_notebook">
			<input type="text" name="notebook[title]" 
			 class="new_notebook" value="New Notebook" autofocus>
		</form>
	</div>
	<div class="num_notes">
		0 Notes
	</div>
</div>