<div class="share_dialog">
	<div class="shared_notebook_title">
		<strong><%= notebook.escape("title") %></strong>
	</div>
	<div class="sharing">
		
		<div class="bold_text"><strong>Share this notebook</strong></div>
		
		<p>Invite people to collaborate on this notebook.</p>
		<p>Enter usernames or email addresses separated by commas.</p>
		
		<div class="share_form">
			<form>
				<input type="text" class="share_values">
				<input type="submit" value="Invite">
			</form>
		</div>
		
	</div>
	
	<div class="share_bottom_bar">
		<button class="dismiss">Dismiss</button>
	</div>
</div>