<form class="notebook_title_form">
	<input type="text" name="notebook[title]" 
		value="<%= notebook.escape("title") %>" autofocus>
	<input type="hidden" name="notebook[id]" value="<%= notebook.id %>">
</form>