<h1>Reset Password</h1>
An email will be sent to you containing a temporary password.
<br>
<form action="<%= users_send_password_url %>" method="get">
	<label for="user_username">Username</label>
	<input type="text" name="user[username]" id="user_username">
	<br>
	<input type="submit" value="Reset Password">
</form>