<div class="logo">
	AlwaysNote
</div>
<div class="user_info">
	<%= user.username %>
	<input type="button" value="Log Out" onclick="location.href='session/logout';">
</div>
<div class="new_note">
	<button class="new_note_button">
		&#65291; New Note in Selected Notebook
	</button>
</div>

