/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: "Helvetica Neue", sans-serif;
}

.container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #DBDBDB;
}

.hidden {
	display: none;
}

/* Navbar */

.navbar {
	/*background-color: #B4B4B4;*/
	padding-left: 10px;
	padding-top: 5px;
	height: 30px;
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e7e7e7 0%, #b4b4b4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#b4b4b4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#b4b4b4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e7e7 0%,#b4b4b4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e7e7 0%,#b4b4b4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7e7e7 0%,#b4b4b4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#b4b4b4',GradientType=0 ); /* IE6-9 */
}

.user_info {
	float:left;
	margin-top: 3px;
	color: #2B2F35;
	cursor: default;
}

.new_note {
	margin-left: 40%;
	margin-right: 40%;
}

.new_note_button {
	max-width: 250px;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.logo {
	display: inline-block;
	float: left;
	margin-right: 65px;
	font-size: 24px;
	margin-top: -3px;
	color: #2983CC;
	cursor: default;
}

/* Sidebar */

.sidebar {
	background-color: #2B2F35;
	width: 200px;
	float:left;
	height: 100%;
}

.selector {
	padding-top: 20px;
	padding-left: 5px;
	font-size: 30px;
	color: #DBDBDB;
	cursor: default;
}

.recent_note {
	margin-left: 4px;
	color: #CDCDCD;
	font-size: 13px;
	line-height: 1.6em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
}

.recent {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #212429;
	color: #EDEDED;
	cursor: default;
}

.selected_sidebar {
	background-color: #24282D;
}


/* Notebooks Index */

.notebooks {
	background-color: #DBDBDB;
	height: 100%;
	margin-left: 200px;
	overflow-y: scroll;
}

.notebooks_bar {
	padding-top: 10px;
	height: 30px;
	border-bottom: 1px solid #AAAAAA;
	margin-left: 5px;
	margin-right: 5px;
	display: block;
}

.notebook_show {
	border-radius: 10px;
	float: left;
	margin: 20px 20px 20px 20px;
	width: 150px;
	height: 150px;
	background-color: #2983CC;
	box-shadow: 10px 10px 5px #888888;
	border-right: 4px groove #FFFFFF;
}

.notebook_title {
	border-radius: 5px;
	padding-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	text-align: center;
	height: 65px;
	font-size: 18px;
	background-color: #1F6299;
	color: #EDEDED;
	border: 1px solid #144063;
}

.num_notes {
	text-align: center;
	position: relative;
	top: 30px;
	color: #123B5C;
	cursor: default;
	
}

.highlighted_notebook {
	border: 5px solid #2BEAFF;
	margin: 15px 15px 15px 15px;
}

.new_notebook {
	float: left;
	height: 20px;
}

.search {
	margin-left: 15px;
	float: left;
	height: 15px;
}

.delete_area {
	margin-top: -7px;
	padding-right: 10px;
	display: inline-block;
	float: right;
}

.delete {
	font-size: 30px;
	color: #AD4242;
	display: inline-block;
	float: right;
	margin-right: 10px;
}

/* Notes Sidebar */

.notes_sidebar {
	width: 300px;
	float: left;
	background-color: #EDEDED;
	height: 100%;
	border-top: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
}

.sidebar_top {
	height: 50px;
	border-bottom: 1px solid #B4B4B4;
	font-size: 26px;
	color: #787878;
	cursor: default;
}

.all_notes {
	height: 25px;
	margin-top: 12px;
	margin-right: 15px;
	margin-left: 10px;
	color: #787878;
	float: left;
}

.update_sort {
	display: inline-block;
	float: left;
	width: 149px;
	height: 20px;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	color: #787878;
	font-size: 12px;
	cursor: default;
}

.title_sort {
	display: inline-block;
	float: right;
	width: 150px;
	height: 20px;
	border-bottom: 1px solid #B4B4B4;
	color: #787878;
	font-size: 12px;
	cursor: default;
}

.current_sort {
	background-color: #BBBBBB;
	color: #676767;
}

.current_notebook_title {
	padding-top: 10px;
	display: inline-block;
	float: left;
	cursor: default;
}

.highlighted_note {
	background-color: #2983CC !important;
}

.notes_list {
	font-size: 12px;
	border-collapse: collapse;
	cursor: default;
}

.notes_list tr {
	padding: 0;
}

.notes_list tr:nth-child(odd) {
	background-color: #DBDBDB;
}

.notes_list tr td {
	height: 20px;
	width: 150px;
	max-width: 150px;
	padding: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.selectMenu {
	position: absolute;
	left: 260px;
	top: 75px;
	z-index: 999;
}

.share {
	display: inline-block;
	float: right;
	background: url('share.png') no-repeat;
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	margin-top: 10px;
}

.dismiss {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

/* Share dialog */

.share_dialog {
	position: absolute;
	left: 300px;
	top: 36px;
	background-color: #EDEDED;
	width: 500px;
	height: 70%;
	border: 1px solid #B4B4B4;
	border-top: none;
	padding: 10px;
	padding-bottom: 0;
	cursor: default;
}

.shared_notebook_title {
	text-align: center;
	font-size: 20px;
	color: #7F7F80;
	cursor: default;
}

.sharing {
	background-color: #E4E4E4;
	margin: 15px;
	padding: 5px;
	color: #666670;
	font-size: 13px;
}

.bold_text {
	color: #424242;
	font-size: 15px;
}

.share_bottom_bar {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	border-top: 1px solid #B4B4B4;
	background-color: #DBDBDB;
}

.share_values {
	width: 370px;
}

/* Note show */

.note {
	background-color: #DBDBDB;
	height: 100%;
	border-top: 1px solid #B4B4B4;
}

.title_bar {
	height: 25px;
	margin-right: 10px;
	margin-left: 510px;
	border-bottom: 1px solid #BCBCBC;
	display: block;
	padding-top: 10px;
	font-size: 12px;
	color: #787878;
	cursor: default;
}

.title_bar .delete {
	margin-top: -10px;
}

.note_tag {
	float: left;
	display: inline-block;
	background-color: #C3E0F7;
	border: 1px solid #A9C5DB;
	padding: 2px;
	margin: 1px;
	margin-top: -2px;
	border-radius: 10px;
}

.status_bar {
	height: 30px;
	margin-right: 10px;
	margin-left: 510px;
	border-bottom: 1px solid #BCBCBC;
	display: block;
	padding-top: 5px;
	font-size: 12px;
	color: #787878;
	cursor: default;
}

.note_created {
	display: inline-block;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}

.note_updated {
	display: inline-block;
	float: left;
	margin-top: 3px;
}

.markup_bar {
	height: 30px;
	margin-right: 10px;
	margin-left: 510px;
	border-bottom: 1px solid #BCBCBC;
	display: block;
	padding-top: 5px;
	font-size: 12px;
	color: #787878;
	cursor: default;
}

.note_area {
	background-color: #FFFFFF;
	margin: 30px;
	float: left;
	display: inline-block;
	width: 55%;
	height: 400px;
	border-radius: 5px;
	box-shadow: 7px 7px 5px #BCBCBC;
}

.note_title {
	border-bottom: 1px solid #DEDEDE;
	margin-left: 10px;
	margin-right: 10px;
}

.note_title .title {
	width: 95%;
	margin: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 20px;
}

.note_body {
	width: 95%;
	margin: 20px;
	margin-top: 0px;
	padding-top: 10px;
	height: 320px;
	outline: none;
	resize: none;
	font-size: 14px;
}

.todo {
	display: inline-block;
	float: left;
}

.choose_notebook {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.add_tags_area {
	display: inline-block;
	margin-right: 10px;
	float: left;
}

.changeMenu {
	position: absolute;
	left: 500px;
	top: 60px;
	z-index: 999;
}

.new_tag {
	float: left;
	display: inline-block;
}

/* Tags index */

.tags {
	display: block;
	height: 100%;
	margin-left: 200px;
	background-color: #DBDBDB;
	cursor: default;
}

.tags_bar {
	height: 30px;
	margin: 5px;
	padding: 5px;
	border-bottom: 1px solid #AAAAAA;
}

.new_tags_button {
	float: left;
	color: #676767;
	margin-right: 10px;
}

.tag_search {
	display: inline-block;
	float: left;
}

.tag_text {
	display: inline-block;
	background-color: #E1F0FA;
	border-radius: 15px;
	border: 1px solid #ABC7D9;
	height: 10px;
	margin: 5px;
	margin-bottom: 0px;
	font-size: 12px;
	padding: 6px;
	padding-top: 3px;
	color: #909090;
	max-width: 160px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.highlighted_tag {
	background-color: #2C89DB !important;
	color: #CDCDCD;
}

.show_notes_button {
	display: inline-block;
	float: right;
	background-color: #008CE3;
	color: #EFEFEF;
	font-size: 14px;
	border: 1px solid #005A91;
}

.show_notes_button:active {
	background-color: #0066A6;
}








/* STATIC PAGES */

.static_page {
	background: url('background.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.static_page_logo {
	color: #1E84C8;
	font-size: 130px;
	position: absolute;
	left: 20px;
	top: 50px;
	cursor: default;
}

.signed_up {
	font-size: 14px;
	position: absolute;
	bottom: 5px;
}

.sign_in {
	position: relative; 
	left: 40%;
	right: 40%;
	top: 30%;
	background: #FFFFFF;
	height: 175px;
	width: 250px;
	border-radius: 10px;
	vertical-align: middle;
	padding: 10px;
}

.sign_up {
	position: relative; 
	left: 40%;
	right: 40%;
	top: 30%;
	background: #FFFFFF;
	height: 200px;
	width: 250px;
	border-radius: 10px;
	vertical-align: middle;
	padding: 10px;
}

.static_page h1{
	text-align: center;
}

.login label{
	display: block;
	width: 100px;
	float: left;
}

.login input[type=text] {
	display: block;
	width: 130px;
	float: left;
}

.login input[type=password] {
	display: block;
	width: 130px;
	float: left;
}

#submit {
	display: inline-block;
	float: right;
	margin-right: 15px;
}


















/* === Editor === */

.etch-editor-panel { display: none; padding: 0px; /*position: absolute; z-index: 10000; top: 71px; left: 504px;*/
    background: #dadada;/* border: 1px solid #bdbdbd;*/ color: #535353; text-shadow: 0 1px 0 #fff;
    /*background-image: -moz-linear-gradient(center bottom, #ccc 0%, #ddd 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#ccc));
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;*/
    /*-webkit-box-shadow: inset 1px 0 0 #dfdfdf, inset 0 1px 0 #dfdfdf, inset -1px 0 0 #dfdfdf, inset 0 -1px 0 #dfdfdf, 0 0 5px rgba(0,0,0,.3);*/
 }
.etch-editor-button { display: block; float: left; margin-right: 3px; position: relative; text-decoration: none;
    display: block; width: 27px; height: 27px; background: #dadada; border: 1px solid #aaa; color: #535353; text-shadow: 0 1px 0 #fff;
    background: -moz-linear-gradient(center bottom, #e1e1e1 0%, #efefef 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fFfFfF), to(#f1f1f1));
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
     }

.etch-editor-button:last-child { margin-right: 0; }
.etch-editor-button:hover { background: #fff; border-color: #999; }
.etch-editor-button span:active { box-shadow: inset 0 0 15px rgba(0,0,0,.5); border-color: #999; }

.etch-editor-button span,
.etch-editor-button span { background: url('editor_icons.png') no-repeat;
    display: block; height: 100%; width: 100%;
}

.etch-editor-panel .etch-bold span { background-position: 0 0; }
.etch-editor-panel .etch-italic span { background-position: -30px 0; }
.etch-editor-panel .etch-underline span { background-position: -60px 0; }
.etch-editor-panel .etch-unordered-list span { background-position: -90px 0; }
.etch-editor-panel .etch-ordered-list span { background-position: -120px 0; }
.etch-editor-panel .etch-image span { background-position: -150px 0; }
.etch-editor-panel .etch-link span { background-position: -180px 0; }
.etch-editor-panel .etch-save span { background-position: -210px 0; }
.etch-editor-panel .etch-justify-left span { background-position: -240px 0; }
.etch-editor-panel .etch-justify-center span { background-position: -270px 0; }
.etch-editor-panel .etch-justify-right span { background-position: -300px 0; }
.etch-editor-panel .etch-cite span { background-position: -330px 0; }
.etch-editor-panel .etch-heading span { background-position: -360px 0; }
.etch-editor-panel .etch-clear-formatting span { background-position: -390px 0; }