<div class="tags_bar">
	<button class="new_tags_button">
		&#65291; New Tag
	</button>
	
	<form class="tag_search">
		<input type="search" name="title" placeholder="Find a tag">
	</form>
</div>

<div class="tags_index">
	<% tags.forEach(function(tag) { %>
		<div class="tag_show" id="tag<%= tag.id %>">
			<div class="tag_text" data-id="<%= tag.id %>">
				<%= tag.escape("title") %>&#8198;&#8198;&#8198;&#8198;&#8198;
				<%= tag.get("notes").length %>
			</div>
		</div>
	<% })%>
</div>